.AC{
    width: 400px;
    height: 250px;
}
.bos{
    background-color:aqua;
}
div div{
    border: white 5px solid;
    width: 90%;
    background-color: dimgray;
    border-radius: 20px;
}
.ACe{
    width: 400px;
    height: 500px;
}
.ACea{
    width: 200px;
    height: 500px;
}
.AeC{
    width: 500px;
    height: 250px;
}
.ACear{
    width: 300px;
    height: 400px;
}